body {
    background-color: #C7C7A6;
    padding: 50px;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Oswald', sans-serif;
    background-color: #1E5220;
    color: #fff; 
}

ul li:nth-child(odd) {
    background-color: rgba(125, 66, 66, 0.943);
}

.desc-content {
    height: 220px;
    position: relative;
}
.desc-p {
    width: 78%;
    position: absolute;
    left: 240px;
    top: 50px;
}

.name {
    text-align: center;
}

#picture {
    float: left;
    width: 200px;
    padding: 10px;
    background-color: rgba(125, 66, 66, 0.943);
}

.size-1 {
    font-size: 1.5em;
}

.size-2 {
    font-size: 2em;
}

.size-3 {
    font-size: 2.5em;
}

