h1, h2 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Oswald', sans-serif;
    background-color: #1E5220;
    color: #fff;
}

body {
    background-color: #C7C7A6;
}

.size-1 {
    font-size: 1.5em;
}

.size-2 {
    font-size: 2em;
}

.size-3 {
    font-size: 2.5em;
}